
.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: #d9dde3;
  font-family: 'Inter', 'Segoe UI', sans-serif;
  margin: 0;
}

.login-card { 
  width: 480px;
  height:min-content;
   background: #fff;
   padding: 40px;
    border-radius: 16px; 
    box-shadow: 0 20px 25px -5px rgba(0,0,0,0.1),0 10px 10px -5px rgba(0,0,0,0.04);
   }
.login-header {
  color: #1e293b;            
  font-family: 'Inter', sans-serif;
  font-size: 17px;           
  font-weight: 700;          
  text-align: center;
  margin-top: 0;           
  margin-bottom: 32px;      
  letter-spacing: -0.025em;
}
mat-card {
  box-shadow: none !important;
}


mat-card-header {
  display: block !important;
  text-align: center;
  padding: 0 !important;
  margin-bottom: 40px;
}

mat-card-title {
  position: relative;
  font-size: 22px !important;
  font-weight: 600 !important;
  letter-spacing: 4px;
  text-transform: uppercase;
  color: #374151 !important;
  margin: 0 auto;
  display: inline-block;
  padding: 0 20px;
}

.full-width {
  width: 100%;
  margin-bottom: 28px;
}


.mat-mdc-form-field-appearance-outline .mdc-notched-outline__leading,
.mat-mdc-form-field-appearance-outline .mdc-notched-outline__trailing,
.mat-mdc-form-field-appearance-outline .mdc-notched-outline__notch {
  border-color: #9ca3af !important;
  border-width: 1px !important;
}


.mat-mdc-form-field.mat-focused .mdc-notched-outline__leading,
.mat-mdc-form-field.mat-focused .mdc-notched-outline__trailing,
.mat-mdc-form-field.mat-focused .mdc-notched-outline__notch {
  border-color: #1e293b !important;
}


.mat-mdc-text-field-wrapper {
  height: 56px;
  border-radius: 10px !important;
}


.mat-mdc-form-field-infix {
  padding-top: 14px !important;
  padding-bottom: 14px !important;
}


.mat-mdc-form-field .mdc-floating-label {
  font-size: 14px !important;
  font-weight: 500;
  color: #374151 !important;
}


.mat-mdc-form-field-icon-suffix .mat-icon-button {
  color: #475569 !important;
}


.caps-warning {
  color: #b45309;
  font-size: 13px;
  display: flex;
  align-items: center;
  gap: 6px;
  margin-top: -10px;
  margin-bottom: 20px;
}


button[mat-raised-button] {
  width: 100%;
  height: 56px;
  background-color: #1e293b !important;
  color: #ffffff !important;
  font-size: 16px;
  font-weight: 600;
  border-radius: 14px !important;
  text-transform: none !important;
  box-shadow: none !important;
  margin-top: 10px;
  transition: all 0.2s ease;
}

button[mat-raised-button]:hover {
  background-color: #0f172a !important;
  transform: translateY(-1px);
}


.error-label {
  color: #dc2626;
  font-size: 13px;
  margin-top: 16px;
  text-align: center;
}
